

-----COLORS----

almost-black: #1A1A1A
green: #00E0A5
dark-green: #006d6d
white: #ffffff

*/

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;

}



/*---- TEXT STYLES ----*/
h1, h2, h3, h4, h5, p, a{
    font-family: 'Roboto', sans-serif;
}


p{font-size: 13px;}




/*---- PAU STYLES ----*/






h1{
    color: white;
    font-size: 2em;
    padding: 0 40px;

}

h3{
    padding: 0 60px;
    color: white;
    font-weight: 400;
    font-size: 1.3em;
}

.claim{
    color: white;
    padding: 0 50px;
}


.load{
    background-image: url('/assets/img/parking.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height: 100% ;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0px;
    bottom: 0;
    

}

.rowload{
    
    padding-top: 52%;
    text-align: center;
  
}


button{
    font-size: 13px;
    background-image: linear-gradient(to right, #00C3B5 0%, #00E0A5 100%);
    border: 0px;
    border-radius: 56.9px;
    padding: 12px 22px;
    margin: 10px 0px;
    color: #fff;
}



.button{
    padding: 50px 0;
    text-align: center;
    background-color: #F4F4F4;
}





    /*



#map{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height: 100% ;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0px;
    bottom: 0;
}


#capture {
       height: 360px;
       width: 480px;
       overflow: hidden;
       float: left;
       background-color: #ECECFB;
       border: thin solid #333;
       border-left: none;
       }

/*TEXT MARKER*/

.text-marker{
    margin: 20px;
}

.text-marker h2{
    width: 90%;
    margin-right: -150px;
    font-size: 20px;
}

.text-marker h3{
    color: #808080;
    font-size: 15px;
    font-weight: normal;
}

button{
    font-size: 13px;
    background-image: linear-gradient(to right, #00C3B5 0%, #00E0A5 100%);
    border: 0px;
    border-radius: 56.9px;
    padding: 12px 22px;
    margin: 10px 0px;
    color: #fff;
}

.icon-text p{
    display: inline;
    top: 0px;
}

.icon-text img{
    padding: 10px 10px 0px 0px;
}

.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

input{
    margin-left: 200px;
    z-index: 100 !important;
}