body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden !important;
}

/*---- TEXT STYLES ----*/
h1, h2, h3, h4, h5, p, a{
    font-family: 'Roboto', sans-serif;
}



#tab{
    padding: 15px;
    text-align: left;
    background: #00e0a5; /* Old browsers */
    background: -moz-linear-gradient(top, #00e0a5 0%, #00c3b5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00e0a5 0%,#00c3b5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00e0a5 0%,#00c3b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0a5', endColorstr='#00c3b5',GradientType=0 ); /* IE6-9 */
}

h1{
    color: white;
    font-size: 1.5em;
}

.fa{
    float: right;
    font-size: 1.7em !important;
    color: white;
    padding: 15px;
}



.formulario{
    margin-top: 120px;
    margin-bottom: 150px;
}

form{
    padding: 0px 20px;
    overflow-x: hidden;
}

.bloque{
    margin-top: 40px;
    margin-bottom: 100px;
}



.logo{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00e0a5+0,00d39b+100 */
background: #00e0a5; /* Old browsers */
background: -moz-linear-gradient(top, #00e0a5 0%, #00d39b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00e0a5 0%,#00d39b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00e0a5 0%,#00d39b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0a5', endColorstr='#00d39b',GradientType=0 ); /* IE6-9 */
   
    padding: 4%;
    text-align: left;


}



.rebuda{
    
    background-color: white;
     position: absolute;
    z-index: 2;
    overflow: hidden;
    height: 100% ;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0px;
    bottom: 0;
    
}

.missatge{
    padding: 130px 30px;
    text-align: center;
}

#telf{
    text-decoration: none;
    color: #00e0a5;
    font-weight: bold;
}


/*TOTAL*/
.total{
    width: 90%;
    padding: 20px 15px 20px 15px;
    bottom: 0px;
    position: fixed;
    background-color: white;
    border-top: 0.5px solid #C3C3C3;
    z-index: 1;
}

.total button{
    float: right;
}

.var-precio{
    padding: 0px 10px;
    font-weight: normal;
}

.total p{
    font-weight: bold;
}

/*---- BUTTON ----*/

button {
  flex: 1 1 auto;
  
  padding: 15px 30px;
  text-align: center;
  border: 0px;
  color: white;
    font-size: 15px;
    font-weight: bold;
  border-radius: 50px;
  background-image: linear-gradient(to right, #00C3B5 0%, #00E0A5 100%);
}


/* FORM */

form{
  text-align: left;
}

label{
  display: block;
  padding-top: 15px;
  text-align: left;
}


.label-text{
    color:#000;
    cursor: text;
    font-size: 13px;
    line-height: 18px;
    transform: translateY(-34px);
    transition: all 0.1s;
}

input{
    color: #000 !important;
}

input, textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    color: white;
    font-size: 13px;
    outline: 0;
    padding: 5px 0px;
    text-align: left;
    transition: all 0.1s;
    width: 100%;
    resize: none;
    border-radius: 0px;
} 

input:focus{
    border-bottom: 1px solid #00E1A3;
    color: #00E1A3 !important;
}

input:focus ~ .label-text{
    font-size: 11px;
    transform: translateY(-50px);
    color: #00E1A3;
}      

input:valid ~ .label-text{
    font-size: 11px;
    transform: translateY(-50px);
}

input[type="date"]{
    width: 45%;
    float: left;
    margin: 0px 5px;
}

.email{
    transform: translateY(-45px);
}
