body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*---- TEXT STYLES ----*/
h1, h2, h3, h4, h5, p, a{
    font-family: 'Roboto', sans-serif;
}


.navbar{
    width: 100%;
    padding: 10px 20px;
    top: 0px;
    position: fixed;
    background: 
    linear-gradient(
        rgba(0, 224, 165, 1),
        rgba(0, 195, 181, 1)
    );
    z-index: 1;
}



.navbar h2{
    color: white;
}



.formulario{
    margin-top: 90px;
    padding: 0px 20px;
    margin-bottom: 150px;
}

.bloque{
    padding: 20px 0px;
}


/*TOTAL*/
.total{
    width: 100%;
    padding: 10px 15px;
    bottom: 0px;
    position: fixed;
    background-color: white;
    border-top: 0.5px solid #C3C3C3;
    z-index: 1;
}

.total button{
    float: right;
}


/*---- BUTTON ----*/

button {
  flex: 1 1 auto;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  border: 0px;
  color: white;
    font-size: 15px;
    font-weight: bold;
  border-radius: 50px;
  background-image: linear-gradient(to right, #00C3B5 0%, #00E0A5 100%);
}


/* FORM */

form{
  text-align: left;
}

label{
  display: block;
  padding-top: 15px;
  text-align: left;
}


.label-text{
    color:#000;
    cursor: text;
    font-size: 13px;
    line-height: 18px;
    transform: translateY(-34px);
    transition: all 0.1s;
}

input{
    color: #000 !important;
}

input, textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    color: white;
    font-size: 13px;
    outline: 0;
    padding: 5px 0px;
    text-align: left;
    transition: all 0.1s;
    width: 100%;
    resize: none;
} 

input:focus{
    border-bottom: 1px solid #00E1A3;
    color: #00E1A3 !important;
}

input:focus ~ .label-text{
    font-size: 11px;
    transform: translateY(-50px);
    color: #00E1A3;
}      

input:valid ~ .label-text{
    font-size: 11px;
    transform: translateY(-50px);
}

input[type="date"]{
    width: 45%;
    float: left;
    margin: 0px 5px;
}
