body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height: 100% ;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0px;
    bottom: 0;
}


#capture {
       height: 360px;
       width: 480px;
       overflow: hidden;
       float: left;
       background-color: #ECECFB;
       border: thin solid #333;
       border-left: none;
       }


h4{
    color: cadetblue;
}

#colorets{
    background-color: red;
}

#colorets img{
    width: 20px;
}
/*treure barra superior títol mymaps*/
/*div.i4ewOd-pzNkMb-haAclf.QUIbkc{
    visibility: hidden;
}*/
